@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;400&family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&family=Martel:wght@300;400;600&display=swap');
@import url('http://fonts.cdnfonts.com/css/samarkan');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@1,300&display=swap');
:root{
    --saffron:#FE7F30;
    --saffron_light:#fca168;
    --bg:rgb(231,119,28,0.7);
    --color:#EEEEEE;
    --greeen:#16b596;
    --another_green:#2f9f7c;
}

*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Samarkan', sans-serif;
    font-family: 'Martel', serif;
    font-weight:400 ;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3e3e3e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition:0.2s ease-in-out;
    background: #bff8f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #ececec;
}
::selection{
    background-color: var(--greeen);
    color: var(--color);
}
nav{
    backdrop-filter: blur(12px);
}
.font{
    font-family: 'Samarkan', sans-serif;
}
.mobile-nav-a{
    display: block;
    border-radius: 40px;
    width: 100%;
    max-width: 200px;
    margin: 0px auto 50px;
    text-align: center;
    padding: 12px 16px;
    background-color: #f28500;
    color: white;
    text-decoration: none;
    transition: 0.3s ease-out;
}
.mobile-nav h6{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.website{
    text-decoration: none;
    color: #3e3e3e;
}
.mobile-nav h6 span{
    text-decoration: underline;
    
}
.mobile-nav h6 span:hover{
    text-decoration:underline  wavy #3e3e3e 1px;
}
.mobile-nav-a:hover{
    letter-spacing: 6px;
    width: 50%;
    background-color: var(--saffron);
}