@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;400&family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('http://fonts.cdnfonts.com/css/samarkan');
:root{
    --saffron:#FE7F30;
    --saffron_light:#fca168;
    --bg:rgb(231,119,28,0.7);
    --color:#EEEEEE;
}

*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Samarkan', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #3e3e3e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition:0.2s ease-in-out;
    background: #bff8f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #ececec;
}
::selection{
    background-color: var(--bg);
    color: var(--color);
}
nav{
    backdrop-filter: blur(12px);
}