:root{
    --saffron:#FE7F30;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background-color:var(--saffron) ;
}

div{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Hack;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
}

h1{
    font-size: 60px;
    background-color: aquamarine;
    padding: 8px 24px;
    border-radius: 16px;
}

.div1{
    background-image: url(./Images/ign_cityRain.png);
    background-size:cover;
}
.div2{
    display:ruby;
    background-color: var(--saffron);
    align-items:center;
    justify-content: space-around;
}
.div3{
    height: 400px;
    background-image: url(./Images/ign_unsplash15.png);
    background-attachment:fixed;
    background-size: cover;
}
.div4{
    background-color:var(--saffron);
}
a{
    text-decoration: none;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.nav_area{
    list-style: none;
}
.nav_area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav_area li a{
    transition: .3s;
    color: black;
}
.nav_area li a:hover{
    color: white;
}

/*Adding responsiveness*/

