:root{
    --saffron:#FE7F30;
    --saffron_light:#fca168;
    --saffron_lightest:#fba168;
    --primary:var(--saffron);
    --light:#EEEEEE;
    --dark:#212121;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    width: 150px;
    border-radius: 40px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    padding:16px 32px;
    
}
h1{
    color: white;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
}

.hamburger{
    display:block;
    position: relative;
    z-index: 1;
    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color:var(--primary);
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px,-2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px) ;
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
}
.hamburger.is-active:hover span{
    background-color:var(--primary) ;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--saffron_light);
    padding-top: 250px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    left: 0;
}





body{
    background: #eeddddab;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:80vh;
    margin:0px;
}

.link-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.link-container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.link-container ul li{
    margin: 12px;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.icons h5{
    font-family: 'Samarkan', sans-serif;
}
.icons img{
    width:60px;
    transition:0.2s;
}
.icons img:hover{
    opacity: 0.75;
    transform: rotate(30deg);    
}
.address{
    display: flex;
    flex-direction: column;
}
.map-container{
    height: 80%;
    width: 50%;
}
.hero{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.slider{
    width: 100%;
    height: 80vh;
}
.icon-container{
    background: rgb(22,181,150);
    background: linear-gradient(to left, rgba(22,181,150,1) 0%, rgba(54,226,184,1) 38%, rgba(200,255,241,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.icons{
    height: fit-content;
    width: 220px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:20px;
    padding-right:20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
    margin-top: 12px;
}
.icons a img{
    border-radius: 0px;
}
.line{
    width: 100%;
    background-color: #3e3e3e;
    height:2px;
}
.map-container{
    height: 80%;
    width: 100%;
    text-align:center;
    align-items: center;
    padding: 12px;
    margin: 40px;
    background: linear-gradient(0deg, rgba(233,109,47,1) 10%, rgba(229,150,71,1) 41%, rgba(255,168,87,1) 84%, rgba(205,205,205,1) 100%);
}
.circle{
    height: 50px;
    width: 50px;
    background: var(--saffron_light);
    border-radius: 50%;
    display:block;
    position: relative;
}
.form{
    height: 100%;
    width: 100%;
    background: rgb(255,169,115);
    background: linear-gradient(to left, rgba(255,169,115,1) 0%, rgba(255,157,95,1) 32%, rgba(255,135,58,1) 50%, rgba(200,113,57,1) 100%);
    text-align: center;
    align-items: center;
    place-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form input, .form textarea{
    width: 50%;
    font-family: 'Samarkan', sans-serif;
    border-radius: 12px;
    padding: 12px;
    resize: none;
    border: 2px solid var(--dark);
}
.form-wrapper{
    height: fit-content;
    width: 100%;
}
.form button{
    border-radius: 12px;
    width: 200px;
    height: 50px;
    background: var(--light);
    border:2px solid var(--dark) ;
    transition: 0.2s ease-in-out;
    color: var(--dark);
    cursor: pointer;
}
.form button:hover{
    background: var(--dark);
    border: 2px solid var(--light);
    color: var(--light);
}
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
    .mobile-nav a{
        margin: 0px auto 20px;
    }   
    .hero{
        flex-direction: column;
        justify-content: space-between;
    }
    .map-container{
        width: 100%;
        height: 100%;
    }    
    .icons{
        width: 220px;    
    }
    .link-container ul{
        flex-direction:column;
    }
    .hero{
        flex-direction: column;
    }
}
@media only screen and (device-width: 768px) {
    .mobile-nav a{
        margin: 0px auto 40px;
    }
    
    .link-container ul{
        flex-direction:column;
    }
    .hero{
        flex-direction: column;
    }
    
}
@media only screen and (max-device-width: 901px) {
    .link-container ul{
        flex-direction: column;
    }
    .hero{
        flex-direction: column;
    }
}

@media only screen and (max-device-width: 800px) {
    .link-container ul{
        flex-direction: column;
    }
    .hero{
        flex-direction: column;
        justify-content: space-between;
    }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}