:root{
    --saffron:#FE7F30;
    --saffron_light:#fca168;
    --saffron_lightest:#fba168;
    --primary:var(--saffron);
    --light:#EEEEEE;
    --dark:#212121;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
img{
    width: 150px;
    border-radius: 40px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    padding:16px 32px;
    
}
h1{
    color: white;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
}

.hamburger{
    display:block;
    position: relative;
    z-index: 1;
    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color:var(--primary);
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px,-2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px) ;
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
}
.hamburger.is-active:hover span{
    background-color:var(--primary) ;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--saffron_light);
    padding-top: 250px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    left: 0;
}

.mobile-nav a{
    display: block;
    border-radius: 40px;
    width: 100%;
    max-width: 200px;
    margin: 0px auto 60px;
    text-align: center;
    padding: 12px 16px;
    background-color: #f28500;
    color: white;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.mobile-nav a:hover{
    letter-spacing: 8px;
    width: 50%;
    background-color: var(--saffron);
}





html{
    background: url(../Images/Meet_the_team_bg.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center ;
    background-attachment:fixed;
}
.hero{
    display: flex;
    justify-content: center;
    overflow: auto;
}
.hero-bg{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    position: relative;
    height:95vh;
    width: 75%;
    background-color: var(--saffron);
}
.hero h1{
    padding-left: 20px;
}
.card{
    width: 100%;
    height: 30%;
    background-color: rgba(48, 48, 48, 0.541);
    margin: 20px 20px;
}

.founder{
    position: relative;
    margin-top:45px ;
    margin-bottom:auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.founder-container{
    min-height: 100vh;
    min-height: 100%;
    width: 80%;
    background-color: rgba(254, 127, 48,0.85);
    
}
    

.founder-card{
    align-items: center;   
    position: relative;
    left: 20px;
    top: 20px;
    min-height: 50%;
    width: 100%;
    background: rgba(226, 226, 226,0.87);
    box-shadow: -20px -5px 0px rgba(254, 127, 48,0.85);
    text-align: center;
    color: black;
}
.logo{
    background-color: #e2e2e2;
}

.founder-card p {
    text-align: justify;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    max-width: 1400px;
}
.founder-card img{
    margin-right:10px;
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 2px;
    float: left;
    width: fit-content;
}

.card img{
    float: left;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 12px;
    
    height: 150px;
    border-radius: 260px;
}
#logo{
    border-radius: 2px;
    float: right;
    width: fit-content;
}
.about{
    margin-top: 12px;
}    
.card p{
    margin-top:15px;
    margin-left: 10px;
    min-width: 40px;
}
.sliders{
    position:relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(254, 127, 48,0.90);
    min-height: 100vh; 
    height: fit-content;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}
.advisory-board{
    margin-top: 40px;
    width: 90%;
    position:relative;
    
    
    
}
@media only screen and (min-width: 960px) {
    
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
    .mobile-nav a{
        margin: 0px auto 20px;
    }
    .founder-container{
        height: fit-content;
        width: 75%;
        background-color: rgba(254, 127, 48,0.85);
        align-items: center;
    }
    .founder-card img{
        
        
        border-radius: 2px;
        float: left;
        width: 70%;
    }
    .founder-card{
        align-items: center;
    }
    #logo{
        border-radius: 2px;
        float: right;
        width: 50%;
    }
}
@media only screen and (device-width: 768px) {
    .mobile-nav a{
        margin: 0px auto 40px;
    }
    .founder-container{
        height: fit-content;
        width: 75%;
        background-color: rgba(254, 127, 48,0.85);
    }
    .founder-card img{
        margin-right:10px;
        margin-left: 12px;
        margin-top: 12px;
        border-radius: 2px;
        float: left;
        width: 50%;
    }
    #logo{
        border-radius: 2px;
        float: right;
        width: 50%;
    }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}