:root{
    --saffron:#FE7F30;
    --saffron_light:#fca168;
    --saffron_lightest:#fba168;
    --primary:var(--saffron);
    --light:#EEEEEE;
    --dark:#212121;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
img{
    width: 150px;
    
}
.container{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    padding:16px 32px;
    
}
h1{
   
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
}

.hamburger{
    display:block;
    position: relative;
    z-index: 1;
    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color:var(--primary);
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px,-2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px) ;
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
}
.hamburger.is-active:hover span{
    background-color:var(--primary) ;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--saffron_light);
    padding-top: 250px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    left: 0;
}



.mobile-nav-a:hover{
    letter-spacing: 8px;
    width: 50%;
    background-color: var(--saffron);
}

.hero-image{
    width: 100%;
    height: 100vh;
    background:url('../Images/hero-bg.PNG') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-position-y: top;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment:fixed ;
}
.hero-image h1{
    color: var(--light);
    background: var(--dark);
    width: fit-content;
    font-size: 90px;
}

.founder{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.founder-container{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about{
    display: flex;
    flex-direction: column-reverse;
}
.founder-img{
    min-width: 200px;
    width:250px;
    float: left;
    margin-right: 12px;
    padding: 12px;
}
.founder-text{
    width: 100%;
    max-width: 1600px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
}

#logo{
    
    width: 450px;
    float: right;
}
.sliders{
    position: relative;
    width: 100%;
    height: 100vh;
    
}
.text-cont{
    width: 100%;
    height: 100%;
    padding: 5px;
    animation-duration: 2s;
    transition:0.2s ease-in-out;
    padding: 8px;
    background: var(--dark);
}
.headingg{
    transition:0.2s ease-in-out;
    width: 100%;
    height: 100%;
    padding: 12px;
    color: var(--dark);
    background: var(--dark);
}
.headingg:hover {
    background: white;
    transition:0.2s ease-in-out;
}
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
    .mobile-nav a{
        margin: 0px auto 20px;
    }
}
@media only screen and (device-width: 768px) {
    .mobile-nav a{
        margin: 0px auto 40px;
    }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}